@import '../../../utils/variables.scss';

td {
  &:hover {
    cursor: pointer;
    color: $mainColor;
  }
}

tr .elementBorder {
  border-right: 2px solid $mainColor;
}

.elementDataExpired {
  box-sizing: border-box;
  color: #FFF;
  border-radius: 10px;
  background-color: red;
}