.appContainer {
  margin: 0 auto;
  max-width: 1640px;
  display: flex;
}

.mainContainer {
  overflow-x: hidden;
  position: relative;
  z-index: 10;
  margin-left: -140px;
  background-color: #FFF;
  border-radius: 50px;
  padding: 20px 40px;
  width: 100%;
}
