@import './utils/variables.scss';

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8faff;
  min-height: 100vh;
  padding: 10px;
}

button {
  color: $mainColor;
  cursor: pointer;
  border: 1px solid $mainColor;
  background-color: transparent;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 40px;
  transition: all ease 0.3s;
}
